altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
lxml==5.1.0
packaging==24.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
requests==2.31.0
simple-term-menu==1.6.4
soupsieve==2.5
urllib3==2.2.1
